@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "The Index page";
}

<!--header and picture-->
<h1>David</h1>
<img src="img/meAndHorse.JPG" />

<!--add a paragraph and a list-->
<p>I hope to learn about some more coding aspects in this class.  I also hope to enjoy coding as I go through this class. I also hope for an A as well.</p>
<ul>
    <li>software devoloper</li>
    <li>data analyst</li>
    <li>AI devoloper</li>
</ul>


